/* VERSION MOBILE */

/* Page d'accueil */
/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@keyframes disparaitre {
    0%, 30% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

#rideau {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.96);
    z-index: 1;

    animation: disparaitre 2s 1 ease-in-out;
    animation-fill-mode: forwards;

    display: flex;
    justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
    margin-top: 3%;

    border: 1vw solid #9356DC;
    border-radius: 50%;
    border-top: 1vw solid #FF79DA;
    border-right: 1vw solid #f6f6f6;
    border-bottom: 1vw solid #99E2D0;
    width: 6vw;
    height: 6vw;

    animation: spin 2s linear infinite;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.gris {
    background-color: #f6f6f6;
}

/* En-tete */

.logo_header {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.303);
    margin: 0;

    display: flex;
    justify-content: center;

    position: relative;
}

.logo_header a {
    position: absolute;
    left: 0;

    height: 100%;
    padding: 0 5%;

    display: flex;
    align-items: center;
}

.logo_header a i {
    display: inline-block;
    font-size: 150%;
}

.logo_header img {
    height: 50%;
    padding: 5% 0 3%;
    width: 50%;
}

#lieu {
    background-color: #eaeaea;
    font-weight: bold;
    margin: 0;
    padding: 4% 0;

    display: flex;
    justify-content: center;
}

#lieu i {
    margin-right: 4%;
}

#entete_bas {
    padding: 10% 4% 12%;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#entete_bas h1 {
    font-size: 160%;
    margin: 0%;
    padding: 1% 10% 1.5%;
}

#decouvrez {
    margin: 0%;
    padding: 4% 0;
}


/* Bouton Explorer */

#explorer {
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.172);
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 4.5% 2%;
    text-align: center;
    width: 60%;
}

#explorer a {
    color: inherit;
}

#explorer:hover {
    filter: brightness(105%);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.500);
}


/* main */
/* Section Fonctionnement */

#Fonctionnement {
    padding: 8% 5% 11%;
}

#liste_cards {
    display: flex;
    flex-direction: column;
}

#Fonctionnement h2 {
    margin: 0;
    padding: 5% 0 3%;
}

.fonctionnement_cards {
    border-radius: 25px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.185);
    font-weight: bold;

    padding: 4% 4% 3.5%;
    margin: 4% 0 3.5% 4.5%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.fonctionnement_cards i {
    color: #7e7e7e;
    font-size: 120%;
    margin: 0 4% 0 3%;
    padding: 4%;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.fonctionnement_cards:hover {
    background-color: #f5edff;
}

.fonctionnement_cards:hover i {
    color: #9356dc;
}

.numeros {
    background-color: #9356dc;
    border-radius: 50%;
    color: white;
    font-size: smaller;
    font-weight: lighter;
    line-height:22px;
    margin-left: -7%;
    text-align: center;
    vertical-align: middle;
    width: 22px;
}


/* Section Restaurants */

#Restaurants {
    padding: 8% 5% 12%;

    display: flex;
    flex-direction: column;
}

.restaurants_cards {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.115);
    margin-bottom: 5%;
    position: relative;
    width: 100%;
}

.restaurants_cards:hover {
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.345);
    filter: brightness(110%);
    transition: box-shadow 1s ease-out;
}

.restaurants_cards img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.restaurants_cards h4 {
    margin: 0;
    padding: 14px 0 4px 14px;
}

.nouveau {
    background-color: #99E2D0;
    border-radius: 2px;
    color: #008766;
    padding: 6px 10px;

    position: absolute;
    top: 10px;
    right: 10px;
}


/* Commun à tous les coeurs */

.coeur {
    color: #f6f6f6;
    -webkit-text-stroke: 2px black;

    transition-property: color;
    transition-duration: 0.75s;
    transition-timing-function: ease-out;
}

.restaurants_cards i.coeur {
    color: white;
    font-size: 130%;

    position: absolute;
    bottom: 30px;
    right: 25px;
}

/* Commun à tous les coeurs */

.coeur:hover,
.restaurants_cards i.coeur:hover {
    color: transparent;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0px black;
}

.restaurants_cards p {
    margin: 0;
    padding: 0 0 14px 14px;
}

/* footer */

footer {
    background-color: #353535;
    color: white;
    padding: 3% 7%;
}

#liens-footer {
    padding-left: 0;
}

#logo_texte {
    font-family: 'Shrikhand', cursive;
    margin: 2.5% 0;
}

#liens-footer li {
    padding: 1.4% 0;
}

#liens-footer li a {
    color: inherit;
}

#liens-footer li i {
    margin-right: 1.5%;
}


/* ___4 pages de restaurants___ */

.banniere {
    margin: 0;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    height: 230px;
}

.img-la-palette-du-gout {
    background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    background-size: 110%;
    background-position-x: 40%;
    background-position-y: 0%;
    height: 220px;
}

.img-note-enchantee {
    background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
    background-position-y: 40%;
}

.img-a-la-francaise {
    background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-position-y: 20%;
}

.img-le-delice-des-sens {
    background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    background-position-y: 20%;
}

#restaurants_main {
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 3% 4%;
    margin-top: -5%;

    display: flex;
    flex-direction: column;
}

#restaurants_main h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;

    position: relative;
}

#restaurants_main h1 i.coeur {
    font-size: 80%;
    position: absolute;
    right: 5%;
    top: 13%;
}

#restaurants_main h2 {
    color: grey;
    font-size: 16px;
    margin-bottom: 2%;
}

#restaurants_main hr {
    background-color: #99E2D0;
    border: none;
    height: 3px;
    margin: 0;
    width: 10%;
}

.menus_items {
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.185);
    font-weight: bold;
    margin: 6% 0;

    display: flex;
    overflow: hidden;
}

.menus_items_hors_coche {
    padding: 3% 4%;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}

.hors_coche_gauche {
    flex-shrink: 1;
    flex-wrap: nowrap;
    overflow: hidden;
}

.hors_coche_gauche p {
    font-weight: normal;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hors_coche_droite {
    padding-right: 3%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menus_items .coche {
    width: 0%;
}

/* hover des items de menus */

.menus_items:hover .menus_items_hors_coche {
    width: 83%;
}

.menus_items:hover .coche {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #99E2D0;
    width: 17%;
    transition: width 0.5s;
}

.coche i {
    background-color: white;
    border-radius: 50%;
    color: #99E2D0;
    font-size: 3vw;
    line-height: 5vw;
    -webkit-text-stroke: 1px;
    width: 5vw;

    display: block;
    text-align: center;
}

@keyframes apparition_progressive {
    from {
        transform: translateY(20px);
        filter: opacity(0%);
    }
    to {
        transform: translateY(0);
        filter: opacity(100%);
    }
}

.menus_items {
    animation: apparition_progressive 1.0s 1 ease-out;
    animation-fill-mode: both;
}

.menus_items:nth-child(1) {
    animation-delay: 0.25s;
}

.menus_items:nth-child(2) {
    animation-delay: 0.5s;
}

.menus_items:nth-child(3) {
    animation-delay: 0.75s;
}

.menus_items:nth-child(4) {
    animation-delay: 1.0s;
}


/* @keyframes & animation: */

@keyframes tour_du_cadran {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menus_items:hover .coche i {
    animation: tour_du_cadran 0.5s 1 linear;
}

.menus_items h3 {
    margin: 1% 0;
    width: 100%;
}

.menus_items p {
    margin: 1% 0;
}

/* Bouton Commander */

#commander {
    border-radius: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.377);
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    margin: 8% auto 16%;
    padding: 4% 0;
    text-align: center;
    width: 52%;

    display: block;
}

#commander:hover {
    filter: brightness(105%);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.500);
}


/* ___Tablette___ */

@media screen and (min-width: 767px) {

    /* Tablette Page d'accueil */

    body p {
        font-size: 140%;
    }

    #lieu i {
        margin-right: 15px;
    }

    .logo_header img {
        max-width: 350px;
        padding: 2% 0 1.5%;
    }

    h1,
    #restaurants_main h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 180%;
    }

    #restaurants_main h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 140%;
    }

    #entete_bas {
        padding: 6% 4% 7%;
    }

    /* Tablette Bouton Explorer */

    #explorer {
        border-radius: 50px;
        font-size: 140%;
        margin: 1% 0;
        padding: 3% 2%;
        width: 40%;
    }

    #Fonctionnement {
        padding: 5% 5% 6% 2%;
    }

    #Fonctionnement h2 {
        padding: 1% 0 1% 4%;
    }

    .fonctionnement_cards {
        margin-bottom: 3%;
        padding: 2% 4%;
    }

    .fonctionnement_cards i {
        font-size: 140%;
    }

    .numeros {
        border-radius: 50%;
        font-size: 120%;
        font-weight: lighter;
        line-height:26px;
        width: 26px;
    }

    #Restaurants h2 {
        width: 94%;
    }

    #Restaurants {
        padding: 3% 4% 5%;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .restaurants_cards {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 44%;
    }

    /* Tablette 4 pages de restaurants */

    .banniere {
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    #restaurants_main h1 i.coeur {
        right: 2%;
    }

    .menus_items_hors_coche {
        padding: 5% 4%;
    }

    .hors_coche_gauche h3 {
        padding-bottom: 2%;
    }

    .hors_coche_gauche p {
        padding-top: 2%;
    }

    .hors_coche_droite p {
        padding-bottom: 2%;
    }

    /* Tablette Bouton Commander */

    #commander {
        border-radius: 50px;
        margin: 3% auto 5%;
        padding: 3% 2%;
        width: 40%;
    }

    footer #logo_texte {
        font-size: 160%;
        text-align: center;
        width: 100%;
    }

    footer nav {
        display: flex;
        justify-content: center;
    }

    footer #liens-footer {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        column-gap: 5px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
    }

    footer li {
        margin-right: 1%;

        white-space: nowrap;
    }

    footer a {
        font-size: 110%;
    }
}


/* ___Desktop___ */

@media screen and (min-width: 992px) {

    /* Desktop page d'accueil */

    body p {
        font-size: 100%;
    }

    .logo_header img {
        padding: 1.5% 0 1%;
        max-width: 250px;
    }

    h1,
    #restaurants_main h1 {
        font-size: 170%;
    }

    h2,
    #restaurants_main h2,
    h3 {
        font-size: 130%;
    }

    h4 {
        font-size: 110%;
    }

    #lieu {
        padding: 2% 0;
    }

    #entete_bas {
        padding: 3% 4%;
    }

    #decouvrez {
        padding: 2% 0;
    }


    /* Desktop Bouton Explorer */

    #explorer {
        font-size: 110%;
        padding: 1.5% 0;
        width: 30%;
    }

    #Fonctionnement {
        padding: 2%;
    }

    #Fonctionnement h2 {
        margin: 0;
        padding: 1% 0;
        text-align: center;
        width: 100%;
    }

    #liste_cards {
        padding: 2%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fonctionnement_cards {
        margin: 0;
        padding: 1%;
        width: 29%;
    }

    .numeros {
        font-size: 100%;
    }

    .fonctionnement_cards i {
        margin-left: 0;
        padding-right: 0;
    }

    .fonctionnement_cards i+p {
        margin: 0%;
        padding: 0 4%;
        text-align: center;
        flex-grow: 1;
    }

    #Restaurants {
        padding: 2%;
    }

    .restaurants_cards img {
        height: 240px;
    }

    footer {
        padding: 1% 2%;
    }

    footer #logo_texte {
        font-size: 170%;
    }

    footer #liens-footer {
        width: 80%;
    }

    footer a {
        font-size: 120%;
    }

    /* Desktop 4 pages de restaurants */

    .logo_header a {
        padding: 0 2.5%;
    }

    .banniere {
        height: 300px;
    }

    #restaurants_main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-evenly;
        column-gap: 20px;
    }

    #restaurants_main h1,
    #restaurants_main section+a {
        width: 100%;
    }

    #restaurants_main h1 {
        text-align: center;
    }

    #restaurants_main h1 i.coeur {
        right: 32.5%;
    }

    #restaurants_main h2 {
        margin-bottom: 10px;
    }

    #restaurants_main hr {
        margin-bottom: 10px;
    }

    #restaurants_main section {
        min-width: 360px;
        width: 30%;
    }

    #restaurants_main section > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #restaurants_main section > div > div {
        margin: 2% 0;
    }

    .menus_items_hors_coche {
        height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .hors_coche_gauche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hors_coche_gauche h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .menus_items:hover .coche {
        width: 10%;
    }

    .coche i {
        -webkit-text-stroke: 1px;
        font-size: 12px;
        line-height: 20px;
        width: 20px;
    }

    /* Desktop Bouton Commander */

    #commander {
        font-size: 110%;
        margin: 3% auto 1%;
        padding: 1.5% 0;
        width: 30%;
    }
}


/* Large Desktop */

@media screen and (min-width: 1400px) {

    /* Large Desktop page d'accueil */

    .banniere {
        height: 500px;
    }

    body p {
        font-size: 120%;
    }

    .logo_header img {
        max-width: 300px;
    }

    h1,
    #restaurants_main h1 {
        font-size: 200%;
    }

    h2,
    #restaurants_main h2,
    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 130%;
    }

    #lieu {
        padding: 1.5% 0;
    }


    /* Large Desktop Bouton Explorer */

    #explorer {
        font-size: 130%;
        padding: 1.2% 0;
        width: 23%;
    }

    .numeros {
        font-size: 110%;
    }

    .restaurants_cards img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 300px;
    }

    footer a {
        font-size: 130%;
    }

    /* Large Desktop 4 pages de restaurants */

    #restaurants_main h1 i.coeur {
        right: 35.5%;
    }

    .menus_items_hors_coche {
        height: 70px;
    }

    /* Large Desktop Bouton Commander */

    #commander {
        font-size: 130%;
        padding: 1.2% 0;
        width: 27%;
    }

}

