/* VERSION MOBILE */

/* General */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


a,
a:visited {
    color: black;
    text-decoration: none;
}


ul {
    list-style-type: none;
}


.gris {
    background-color: #f6f6f6;
}

/* En-tete */

.logo_header {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.303);
    /* N'appliquer le margin-bottom que sur accueil */
    /* margin-bottom: 3px; */
    margin: 0; /* padding dans img */

    display: flex;
    justify-content: center;

    position: relative;
}


.logo_header a {
    /* le mettre à gauche */
    position: absolute;
    left: 0;
    padding: 0 4%; /* utiliser du padding pour faciliter le click */

    /* centrer verticalement la flèche à l'intérieur */
    height: 100%;
    display: flex;
    align-items: center;
}


.logo_header a i {
    display: inline-block;
    /* fontsize exceptionnellement relative pour accompagner le logo */
    font-size: 4vw;
}


.logo_header img {
    height: 50%;
    width: 50%;
    padding: 5% 0 3%;
}


#lieu {
    background-color: #eaeaea;
    font-weight: bold;
    margin: 0;
    padding: 4% 0;

    display: flex;
    justify-content: center;
}


#lieu i {
    margin-right: 4%;
}


#entete_bas {
    padding: 10% 4% 12%;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


#entete_bas h1 {
    margin: 0%;
    padding: 0 10%;
}


#decouvrez {
    margin: 0%;
    padding: 4% 0;
}


#explorer {
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.172);
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 4.5% 2%;
    text-align: center;
    width: 60%;
}


#explorer a {
    color: inherit;
    /* color: white; */
}

/* main */
/* section Fonctionnement */

#Fonctionnement {
    padding: 8% 5% 11%;
}


#Fonctionnement h2 {
    margin: 0;
    padding: 5% 0 3%;
}


.fonctionnement_cards {
    border-radius: 25px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.185);
    font-weight: bold;

    padding: 4% 4% 3.5%;
    margin: 6% 0 6% 4.5%;

    display: flex;
    flex-direction: row;
    align-items: center;
}


.fonctionnement_cards i {
    color: #7e7e7e;
    font-size: 120%;
    margin: 0 4% 0 3%;
    padding: 4%;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.fonctionnement_cards:hover {
    background-color: #f5edff;
}


.fonctionnement_cards:hover i {
    color: #9356dc;
}


.numeros {
    background-color: #9356dc;
    border-radius: 50%;
    color: white;
    font-size: smaller;
    font-weight: lighter;
    /* height: 22px; */
    line-height:22px;
    width: 22px;
    margin-left: -22px;
    text-align: center;
    vertical-align: middle;
}


/* Section Restaurants */

#Restaurants {
    padding: 8% 5% 12%;

    display: flex;
    flex-direction: column;
}


.restaurants_cards {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.115);
    margin-bottom: 5%;
    position: relative;
    width: 100%;
}


.restaurants_cards img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    object-fit: cover;
    width: 100%;
}


.restaurants_cards h4 {
    margin: 0;
    padding: 14px 0 4px 14px;
}

.nouveau {
    background-color: #99E2D0;
    color: #008766;
    padding: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Commun à tous les coeurs */
.coeur {
    color: #f6f6f6;
    -webkit-text-stroke: 2px black;

    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.restaurants_cards i.coeur {
    color: white;

    position: absolute;
    bottom: 35px;
    right: 15px;

    font-size: x-large;
}

/* Commun à tous les coeurs */
.coeur:hover,
.restaurants_cards i.coeur:hover {
    color: transparent;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   /* -webkit-text-fill-color:transparent; */
    -webkit-text-stroke: 0px black;
}

.restaurants_cards p {
    margin: 0;
    padding: 0 0 14px 14px;
}

/* footer */

footer {
    background-color: #353535;
    color: white;
    padding: 3% 7%;
}


#liens-footer {
    padding-left: 0;
}


#logo_texte {
    font-family: 'Shrikhand', cursive;
    margin: 2.5% 0;
}


#liens-footer li {
    padding: 1.4% 0;
}


#liens-footer li a {
    color: inherit;
}

#liens-footer li i {
    margin-right: 1.5%;
}

/* _________pages de Restaurants_________ */

#banniere {
    margin: 0;
    position: absolute;
    z-index: -1;
}

#banniere img {
    /* height: auto; */
    /* object-fit: cover; */
    width: 100%;
}


#restaurants_main {
    background-color: #f6f6f6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 3%;
    margin-top: 60%;

    display: flex;
    flex-direction: column;
}


#restaurants_main h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;

    position: relative;
}

#restaurants_main h1 i.coeur {
    position: absolute;
    right: 5%;
    top: 13%;
}

#restaurants_main h2 {
    color: grey;
    font-size: 18px;
}


#restaurants_main hr {
    background-color: #99E2D0;
    border: none;
    height: 3px;
    margin: 0;
    width: 10%;
}


.menus_items {
    border-radius: 15px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.185);
    font-weight: bold;
    margin: 6% 0;

    display: flex;
    overflow: hidden;
}

.menus_items_hors_coche {
    padding: 3% 4%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}
.hors_coche_gauche {
    flex-shrink: 1;
    flex-wrap: nowrap;
    overflow: hidden;
}

.hors_coche_gauche p {
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hors_coche_droite {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 3%;
}

.menus_items .coche {
    display: none;
}

/* hover des items de menus */
.menus_items:hover .menus_items_hors_coche {
    width: 83%;
}

.menus_items:hover .coche {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #99E2D0;
    width: 17%;
}

.coche i {
    display: block;
    text-align: center;
    color: #99E2D0;
    background-color: white;
    border-radius: 50%;
    -webkit-text-stroke: 1px;
    font-size: 3vw;
    line-height: 5vw;
    width: 5vw;
}

.menus_items h3 {
    margin: 1% 0;
    width: 100%;
}

.menus_items p {
    margin: 1% 0;
}


/* bouton commander */
#commander {
    border-radius: 30px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.377);
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    margin: 8% auto;
    padding: 4% 0;
    text-align: center;
    width: 60%;

    display: block;
}


/* Tablette */
@media screen and (min-width: 767px) {

    /* ACCUEIL */

    #Restaurants h2 {
        width: 90%;
    }

    #Restaurants {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .restaurants_cards {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* height: 200px; */
        width: 40%;
    }

    /* PAGES RESTAURANTS */

    body p {
        font-size: 130%;
    }

    .logo_header img {
        height: 40%;
        width: 40%;
        padding: 5% 0 3%;
    }

    #restaurants_main {
        margin-top: 40%;
    }

    #restaurants_main h1 {
        font-size: 180%;
    }

    #restaurants_main h2 {
        font-size: 160%;
    }

    #restaurants_main h3 {
        font-size: 140%;
    }

    /* marche pas quand je regroupe les h */

    .menus_items_hors_coche {
        padding: 5% 4%;
    }

    .hors_coche_gauche h3 {
        padding-bottom: 2%;
    }

    .hors_coche_gauche p {
        padding-top: 2%;
    }

    .hors_coche_droite p {
        padding-bottom: 2%;
    }

}


/* Desktop */
@media screen and (min-width: 992px) {

}

/* Large Desktop */
@media screen and (min-width: 1400px) {

}

